/* $("form").serialize() */
@charset "utf-8";
/*css初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body {font-size:16px; color:#000; font-family:Verdana, Microsoft YaHei, Simsun; background:#f3f5f8; line-height:24px;width: 100%;min-height: 100%;padding-bottom: 60px;position: absolute;}
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em {font-style:normal; }
button,a,input[type=submit]{cursor: pointer;}
button, select, textarea {outline:none;}
textarea { resize:none; } 
p{ text-align:justify; text-justify:distribute;} 
a {color: #000; text-decoration:none; }
a:hover {color: #26A5FF; text-decoration:none;}
* {box-sizing: border-box;}

/*通用*/ 
.clearfix::after{display: block;content: '.';clear: both;height: 0;visibility: hidden;}

/*页头*/
.header{width:1300px;height: 50px;margin:auto;}
.header>img{float:left;margin-right:10px;}
.header>h1{float:left;font-size: 30px;line-height: 50px;font-weight: normal;}

/*页尾*/
.footer{width: 100%;height: 50px;background: #eee;position:absolute;bottom:0px;}
.footer p{text-align: center;font-size: 16px;}

/**
 * position:登录界面;
 */
.login_container{width:500px;height:300px;margin:5% auto;background: #fff;padding-top:10px;}
.login_container>h2{font-size: 32px;text-align: center;font-weight: normal;margin:20px auto 30px auto;}
.login_container>form p{font-size: 28px;text-align: center;margin-bottom:20px;}
.login_container>form input[type=text],
.login_container>form input[type=password]{font-size: 24px;padding:4px 8px;border:1px solid #26A5FF;border-radius: 10px;}
.login_container>form input[type=submit]{font-size: 24px;padding: 2px 32px;border:1px solid #26A5FF;background: #f8f8f8;border-radius: 20px;margin:0px 30px 20px 110px;}
.login_container>form input[type=submit]:hover{background: #26A5FF;color:#fff;}
.login_container>form input[type=reset]{font-size: 24px;padding: 2px 32px;border:1px solid #5f8f;background: #fff;border-radius: 20px;cursor: pointer;margin:0px 0px 20px 30px;}
.login_container>form input[type=reset]:hover{background: #5f4f;color:#000;}

/**
 * position:内容管理容器;
 */
.manage_container{width:1300px;height:700px;border:1px solid #000;margin:auto;}

/*侧边导航栏*/
.sidenav{height: 700px;width:200px;overflow-x: hidden;border:1px solid gray;float:left;}
.sidenav a, .dropdown_btn{padding:6px 8px 6px 16px;font-size: 20px;display: block;border:none;background: none;width: 100%;text-align: left;}
.sidenav a{color:#666;}
.dropdown_btn::after{content:"\25BC";display: inline-block;color:#333;}
.sidenav a:hover{color:#26A5FF;}
.active{color:red;}
.dropdown_container{display:none;padding-left:20px;}
/*功能区*/
.function{float:left;border:1px solid red;width:1098px;height: 700px;}
/*首页say*/
.saying{border:1px dashed red;width:400px;height: 150px;margin:200px auto 0px auto;}
.saying>h2{font-size: 32px;text-align: center;line-height: 70px;}
.saying>p{font-size: 24px;text-align: center;line-height: 30px;}

/**
 * position:用户信息添加;
 */
.user_add_container{width:100%;height:100%;overflow:auto;}
.user_add_container{width:100%;height:100%;overflow:auto;}
.user_add_container h2{font-size: 24px;margin:30px 0px 5px 30px;}
.h2_line{width:200px;height: 2px;background: #26A5FF;display: block;margin:0px 0px 10px 30px;}
.user_add_container p{font-size: 18px;margin-left:50px;}
.user_add_container input[type=text],input[type=password]{font-size: 18px;padding:2px 4px;}
.user_add_container input[type=submit]{font-size: 18px;background: #26A5FF;color:#333;padding:2px 3px;border-radius: 5px;margin-left:10px;}
.user_add_container input[type=submit]:hover{opacity: 0.7;color:#000;}
/*批量添加学生用户*/
.add_stu_h2{float:left;}
.img_icon{float:left;width:24px;height:24px;margin:30px 5px 0px 5px;cursor: pointer;}
#add_count{float:left;font-size: 18px;margin:30px 5px 0px 5px;color:red;}
.add_user_temp{padding:10px 0px;}
#add_user_form>input[type=submit]{float:right;margin:10px 210px 10px 0px;font-size: 20px;padding:4px 26px;}

/**
 * position:用户信息查询;
 */
.user_query_container{width:100%;height:100%;overflow:auto;}
.user_query_container h2{font-size: 24px;margin:30px 0px 5px 30px;}
span.query_acc{float:left;margin-left:80px;font-size: 24px;}
.user_query_container form{float:left;}
.user_query_container form select{font-size: 20px;border:none;background:#ececf9;color:#333;width:150px;}
.user_query_container form input[type=submit]{font-size: 18px;padding:2px 4px;border:1px solid #9999ff;border-radius: 4px;}
.user_query_container form input[type=submit]:hover{background: #9999ff;color:#fff;}
.user_query_container form:last-child input[type=text]{font-size: 18px;padding:2px 3px;width:150px;border:none;border-bottom: 1px solid #000;outline:none;background: none;}
/*查询结果显示*/
.query_result_container{width:1000px;height:500px;margin:20px auto 10px auto;}
.query_result_table{width:100%;max-height:500px;height:auto;border-collapse: collapse;}
.query_result_table tr{border-bottom:2px solid #b3d1ff;}
.query_result_table tr:nth-child(even){background: #f8f8f8;}
.query_result_table th,td{text-align: center;font-size: 18px;padding:3px 6px;}
/*修改和删除*/
.res_remove:hover{color:red;}