@charset "utf-8";
/*css初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body {font-size:12px; color:#000; font-family:Verdana, Microsoft YaHei, Simsun; background:#fff; line-height:24px;width: 100%;}
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em {font-style:normal; }
button,a,input[type=submit]{cursor: pointer;}
button, select, textarea {outline:none;}
textarea { resize:none; } 
p{ text-align:justify; text-justify:distribute;} 
a {color: #000; text-decoration:none; }
a:hover { color: #26A5FF; text-decoration:none;}
* {box-sizing: border-box;}

/*通用*/
.clearfix::after{display: block;content: '.';clear: both;height: 0;visibility: hidden;}

/*导航栏*/
.nav{width: 1300px;height:50px;padding: 5px 0px;margin:auto;}
.nav_logo{float: left;margin-right:50px;}
.nav ul li{float:left;margin-right: 15px;}
.nav ul li a{font-size: 25px;line-height: 50px;}
.nav ul li img{width: 23px;}
.nav form{float: left;}
.nav form input[type=search]{float:left;width: 100px;height: 30px;padding: 4px 8px;font-size: 18px;border:1px solid #26A5FF;border-radius: 5px;margin:10px 5px 0px 15px;text-align: center;-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;background-image: url('../images/icon/search.png');background-repeat: no-repeat;background-size: 23px;background-position: 0px;}
.nav form input[type=search]:focus {width: 200px;}
.nav_login,
.user_message{float: right;font-size: 20px;line-height: 50px;margin-right: 50px;}
.nav_login img,
.user_message img{width: 25px;height:23px;border-radius: 50%;}

/*模态框登录*/
.modal{display: none;position: fixed;z-index: 1;left: 0;top:0;width: 100%;height:100%;overflow: auto;padding-top: 60px;background: rgba(0,0,0,0.4);}
.modal_content{background-color: #fefefe;margin:5% auto 15% auto;border:1px solid #26A5FF;width: 500px;height: auto;}
.modal_img{text-align: center;position: relative;}
.modal_img img{width: 90px;margin-top: 20px;}
.modal_form{padding:16px;}
.modal_form p{font-size: 20px;margin-left: 40px;}
.modal_form input[type=text],input[type=password]{width: 300px;height: 30px;padding:4px 8px;font-size: 20px;margin:15px;border:1px solid #999;border-radius: 5px;}
.modal_form input[type=submit]{-webkit-appearance: button;display:block;margin:20px 0px 5px 40px;padding: 5px 10px;width: 390px;cursor: pointer;font-size: 24px;color:#000;background: #26A5FF;border-radius: 5px;}
.modal_form a{float:right;margin-right:40px;color:#999;}
.close{position: absolute;right:20px;top:10px;color:#333;font-size: 30px;font-weight: bold;}
.close:hover,
.close:focus{color:red;cursor:pointer;}
.animate{-webkit-animation:animatezoom 0.6s;animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom {from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}}
@keyframes animatezoom {from {transform: scale(0)} to {transform: scale(1)}}

/*用户信息模态框*/
.user_modal_content{background-color: #fefefe;margin:5% auto 15% auto;border:1px solid #26A5FF;width: 600px;height:auto;}
.user_modal_img{text-align: center;position: relative;padding-top: 20px;}
#showImg img{width: 100px;height:100px;border-radius: 50%;}
.user_modal_form{margin:auto;width: 330px;}
.user_modal_form p{font-size:22px;margin:20px 0px;}
.user_modal_form input[type=text]{font-size: 20px;padding:4px 6px;border:1px solid #26A5FF;border-radius: 5px;}
.user_modal_form select{font-size: 18px;width: 200px;background: #fefefe;}
.user_modal_form input[type=submit]{-webkit-appearance:button;font-size: 20px;width: 100px;padding:4px 6px;background: #26A5FF;border:1px solid #f8f8f8;border-radius: 10px;margin:0px 50px 0px 30px;}
.user_modal_content button{font-size: 20px;width: 100px;padding:3px 6px;background: #f8f8f8;border:1px solid #26A5FF;border-radius: 10px;position: relative;left:330px;bottom:36px;}


/*页尾*/
.footer{width: 100%;height: 50px;background: #eee;position: relative;top:20px;}
.footer p{text-align: center;font-size: 16px;}

/**
 * position:首页;
 */
.index_container{width: 1300px;height:auto;border:1px solid gray;margin:auto;}
.index_container hr{border: 1px dashed #333;}
.index_container h1{font-size: 20px;font-weight: bold;}
.index_container p{font-size: 16px;}
.index_container span{float:right;margin-right:5px;}

/*轮播图*/
.slideshow_container{width: 830px;height:400px;position: relative;margin:auto;border:1px solid #333;float:left;}
.slides{display: none;}
.slides img{vertical-align: middle; width: 400px;}
.numbertext{color:#000;font-size: 12px;padding:8px 12px;position: absolute;top:0;}
.slideshow_text{color: #000;font-size: 15px;padding:8px 12px;position:absolute;bottom: 8px;width: 100%;text-align: center;}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration: 1.5s;}
@-webkit-keyframes fade{from {opacity: 0.4} to {opacity: 1}}
@keyframes fade{from {opacity: 0.4} to {opacity: 1}}

/*最新消息*/
.hots_new{float:right;height:400px;width: 450px;border:1px solid #444;}

/*优秀作品*/
.excellent_works{float:left;width:620px;height:300px;border:1px solid #555;margin-top: 30px;}

/*优秀书籍推荐*/
.recom_books{float:right;width: 620px;height: 300px;border:1px solid #666;margin-top: 30px;}

/*优秀师生*/
.excellent_figure{margin-top: 30px;width:100%;height: 200px;border:1px solid #777;}
.excellent_figure figure{float:left;padding:20px;}
.excellent_figure figcaption{text-align: center;}
.excellent_teachers{float:left;width: 620px;height:200px;border:1px solid #888;}
.excellent_students{float:right;width: 620px;height:200px;border:1px solid #999;margin-left:20px;}

/**
 * position:课程资源;
 */
.resource_container{width: 1300px;height: 700px;margin:auto;}

/*资源下载*/
.resource_show{width: 900px;height:auto;float:left;}
.resource_show>span{display:block;width:300px;text-align: center;font-size: 16px;border-bottom:2px solid #999;border-top:2px solid #999;margin:15px 0px 0px 15px;color:#888;}
.resource_show>span>span{color:#26A5FF;}
.resource_show figure{width: 15%;padding:10px;float:left;}
.resource_show img{width: 100%;padding:10px;}
.resource_show figcaption{font-size: 14px;text-align: center;height:15px;}

/*分页页号*/
#page_bar{width: 150px;height: 20px;margin:0px auto 10px auto;position: relative;}
#page_bar span{color:#000;font-size:20px;padding:10px;}
#page_bar a{color:#666;font-size:16px;padding:10px;}
#page_bar a:hover{border:1px solid #26A5FF;}

/*资源分类*/
.resource_select{width: 340px;height:auto;float: left;margin-left:30px;border-left:1px solid #aaa;padding-left:30px;}
.resource_category{width: 100%;height: 230px;}
.resource_category>p{font-size: 18px;margin-top:15px;font-weight: bold;border-top:2px solid #666;border-bottom: 2px solid #666;padding:4px 8px;}
.resource_category li{font-size: 16px;padding: 3px 8px;border-bottom:1px solid #ccc;}

/*推荐资源*/
.resource_recom{width: 320px;height:300px;}
.resource_recom>p{font-size: 18px;margin-top:15px;font-weight: bold;border-top:2px solid #666;border-bottom: 2px solid #666;padding:4px 8px;}
.resource_recom li{font-size: 16px;border-bottom:1px solid #eee;padding:3px 8px;}

/*上传资源-模态框*/
.upload_modal_content{background-color: #fefefe;margin:auto;border:1px solid #26A5FF;width: 600px;height: auto;position: relative;}
.upload_modal_content>h1>img{width: 30px;border:1px solid blue;border-radius: 50%;padding: 3px;}
.upload_modal_content>h1{font-size: 24px;line-height: 20px;margin: 20px;}
.upload_modal_content p{font-size: 24px;padding: 8px 8px;margin-left:95px;}
.upload_modal_content input[type=text]{width:200px;padding: 4px 8px;font-size: 18px;}
.upload_modal_content select{padding: 4px 8px;font-size: 18px;}
.upload_modal_content input[type=file]{padding: 4px 8px;width:250px;}
.upload_modal_content input[type=submit]{-webkit-appearance:button;padding: 4px 8px;width:100px;margin:0px 0px 10px 100px;background: #26A5FF;border:1px solid #fefefe;font-size: 15px;border-radius: 5px;}
.upload_progress{width:80%;height:30px;border:1px solid #26A5FF;margin:0px 0px 20px 10px;float:left;}
#upload_progress{width: 0%;background: #26A5FF;height: 100%;}
#upload_rate{float:left;line-height: 30px;font-size: 18px;margin-left:10px;}
/*添加标签-模态框*/
.add_tag_content{background-color: #fefefe;margin:auto;border:1px solid #26A5FF;width: 600px;height: auto;position: relative;}
.add_tag_content>h1>img{width: 30px;border:1px solid blue;border-radius: 50%;padding: 3px;}
.add_tag_content>h1{font-size: 24px;line-height: 20px;margin: 20px;}
.add_tag_content>h1>span{font-size: 14px;font-weight: normal;opacity: 0.7;}
.add_tag_content input[type=text]{width:200px;padding: 4px 8px;border:1px solid #26A5FF;margin-left:50px;font-size: 18px;border-radius: 5px;}
.add_tag_content input[type=submit]{-webkit-appearance:button;padding: 4px 8px;width:100px;margin:0px 0px 30px 20px;background: #26A5FF;border:1px solid #fefefe;font-size: 15px;border-radius: 5px;}


/**
 * position:学习园地;
 */
.study_container{width: 1300px;height: 700px;margin:auto;border:1px solid gray;}

.study_container_left{width: 300px;height: 100%;border-right:1px solid #000;float:left;}
.study_container_left>button{-webkit-appearance:button;display:block;background: #fefefe;padding:4px 6px;font-size: 16px;border:1px solid #26A5FF;border-radius: 5px;margin:auto;width: 100px;margin:10px 0px 10px 90px;}
.study_container_left>p{font-size: 16px;margin-left:20px;opacity: 0.5;}
.caret{cursor: pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.caret::before{content:"\25B6";color: #000;display: inline-block;margin-right:6px;}
.caret_down::before{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.nested{display: none;margin-left:40px;}
.active{display: block;}
#treeview{margin-left:20px;width: 250px;font-size: 16px;color:#333;}

.study_container_right{float:left;width:998px;padding:5px;}	
.study_container_right h1{font-size: 20px;}
.study_container_right p{font-size: 16px;opacity: 0.7;margin-left:10px;}

	
/**
 * position:发布作业;
 */
.issue_container{width:1300px;height: 700px;margin:auto;box-shadow: 2px 3px 3px 2px #eee;padding:10px 20px;}
.issue_container p{font-size: 18px;}
#show_time{padding:0px 10px;}
.issue_container>p:first-child{text-align: right;margin:10px 20px 0px 0px;}
.issue_container>p:nth-child(2){text-align: left;margin:10px 0px 30px 50px;}
.issue_container form{width:600px;margin:auto;}
.issue_container form span{font-weight: normal;opacity: 0.6;}
.issue_container input[type=text]{padding: 4px 8px;width:445px;margin:0px 0px 20px 29px;font-size: 18px;}
.issue_container textarea{font-size: 18px;padding:4px 8px;margin-left:80px;width:445px;height:300px;}
.issue_container input[type=file]{padding: 4px 8px;width:400px;margin:10px 0px 0px 0px;font-size: 18px;}
.issue_container select{font-size: 16px;padding: 4px 8px;margin:10px 0px 10px 0px;}
.issue_container input[type=submit]{-webkit-appearance:button;width: 300px;padding: 4px 8px;font-size: 16px;margin:10px 0px 0px 150px;border: 1px solid #26A5FF;border-radius: 5px;background: #fefefe;}
.issue_container input[type=submit]:hover{background: #26A5FF;color:#fff;}
/**
 * position:批改作业;
 */
.check_container{width: 1300px;height: 800px;margin:auto;box-shadow: 2px 3px 3px 2px #eee;}
.select_form{padding: 10px 20px;}
.select_form p{font-size: 18px;}
.select_form p:first-child{text-align: right;margin:10px 20px 0px 0px;}
.select_form p:nth-child(2){text-align: left;margin:10px 0px 30px 50px;}
.select_form form{margin:0px 0px 0px 250px;}
.select_form span{font-size: 18px;padding: 0px 10px;}
.select_form select[name=class]+span{margin-left:30px;}
.select_form select[name=class]{padding: 4px 8px;width: 150px;font-size: 18px;}
.select_form select[name=YYYY],
.select_form select[name=MM],
.select_form select[name=DD]{font-size: 18px;}
.select_form input[type=submit]{-webkit-appearance:button;padding: 2px 16px;font-size: 18px;margin-left:10px;background: #fefefe;border:1px solid #26A5FF;border-radius: 5px;}
.select_form input[type=submit]:hover{background: #26A5FF;color:#fefefe;}

.select_result{margin:30px auto;width:1000px;}
.select_result p{font-size: 16px;padding: 4px 8px;margin-left:0px;}
.select_result table{border-collapse: collapse;margin:auto;width: 1000px;border-spacing: 0;}
.select_result table th,td{border:1px solid gray;padding: 2px 4px;font-size: 18px;text-align: center;}
.select_result tr:nth-child(even){background: #f2f2f2;}

.no_submit{color: red;}
.d_file{color:#26A5FF;}
.works_span{display:inline-block;font-size: 18px;margin: 0px 0px 20px 250px;}
.select_works{font-size: 18px;padding:5px 10px;color:#26A5FF;}
.select_works:hover{border:1px solid #000;color: #000;}

/*批改作业模态框*/
#check_p{text-align: center;font-size: 24px;color:red;}
.check_modal_content{background-color: #fefefe;margin:auto;border:1px solid #26A5FF;width: 1000px;height: auto;}
.check_modal_head{position: relative;margin:10px 0px 0px 30px;}
.check_modal_head>p{font-size: 16px;color:#000;padding: 2px 8px;}
.check_modal_issue_work{margin:20px 0px 0px 80px;}
.check_modal_issue_work p{font-size: 18px;line-height: 30px;}
.check_modal_submit_work{margin:20px 0px 0px 50px;}
.check_modal_content h2{margin:20px 0px 20px 43px;font-size: 20px;font-weight: bold;}
.check_modal_submit_work{margin-left:150px;}
.check_modal_submit_work pre{font-size: 14px;}
.check_modal_submit_work p{margin-left:-100px;font-size: 18px;line-height: 30px;}
.check_modal_content form{margin:20px 0px 30px 140px;}
.check_modal_content form>p{font-size: 18px;float:left;padding:4px 8px;}
.check_modal_content form input[type=text]{padding:4px 8px;font-size: 16px;}
.check_modal_content form input[type=submit]{-webkit-appearance:button;float:left;padding:4px 6px;font-size: 16px;margin-left:10px;background: #26A5FF;}


/**
 * position:学生查看作业;
 */
.show_work_container {width: 1300px;height:700px;box-shadow: 2px 3px 3px 2px #eee;margin:auto;}
.show_work_container p{font-size: 16px;line-height: 28px;color: #000;}
.show_work_container>p:nth-child(1){text-align: right;margin:0px 50px 0px 0px;padding-top: 20px;}
.show_work_container>p:nth-child(2){text-align: left;margin:10px 0px 10px 50px;}
.show_work_content{width: 1100px;height: auto;border:1px solid #26A5FF;border-radius: 5px;margin:0px auto 20px auto;padding:8px 16px;}
.show_work_content h2{font-size: 18px;font-weight: bold;margin-bottom:10px;width: 600px;}
.show_work_content p{margin-left:15px;}
.show_work_content button{-webkit-appearance:button;float:right;padding:4px 8px;width: 75px;background: #f8f8f8;margin:15px 20px 0px 0px;font-size:16px;border:1px solid #26A5FF;border-radius: 5px;cursor: pointer;}

/*查看作业-模态框*/
.show_modal_content{background-color:#fefefe;margin:auto;border:1px solid #26A5FF;width: 1000px;height:auto;position: relative;}
.show_modal_content h2{font-size: 18px;font-weight: bold;margin:20px 0px 20px 20px;width: 700px;}
.show_modal_content p{font-size: 18px;padding:4px 8px;margin-left:30px;width:700px;}
.show_modal_content pre{font-size: 16px;margin-left:50px;}
.show_modal_content form{margin-top:50px;}
.show_modal_content textarea{font-size: 16px;margin-left:160px;width: 600px;height: 500px;overflow:auto;}
.show_modal_content input[type=file]{padding:4px 8px;font-size: 16px;}
.show_modal_content input[type=submit]{padding:4px 8px;width: 300px;border:1px solid #26A5FF;border-radius: 5px;margin:10px 0px 20px 300px;}
.a_blue{color:#26A5FF;}
.overtime{text-align: center;font-size: 22px;color:red;}
/**
 * position:学生查看成绩;
 */
.show_grade_container {width: 1300px;height:700px;box-shadow: 2px 3px 3px 2px #eee;margin:auto;padding: 8px 16px;}
.show_grade_container p{font-size: 16px;line-height: 28px;color: #000;}
.show_grade_container>p:nth-child(1){text-align: right;margin:0px 30px 0px 0px;padding-top: 20px;}
.show_grade_container>p:nth-child(2){text-align: left;margin:2px 0px 10px 34px;}
.show_grade_container table{border-collapse: collapse;margin:50px auto;}
.show_grade_container tr:nth-child(even){background: #f2f2f2;}
.show_grade_container th,td{border:1px solid #666;font-size: 16px;padding:4px 8px;width: 250px}

/**
 * position:讨论区;
 */
.forum_container{width: 1300px;height: 700px;margin:auto;border:1px solid gray;}
.forum_img{width: 100%;height: 100px;background: #eee;}
.forum_container>img{width: 100%;height: 100px;}

/*标签分类*/
.forum_category{width: 100%;height: 50px;border-top:2px solid #666;}
.forum_category button{-webkit-appearance:button;padding:4px 6px;font-size: 16px;color:black;background: #fefefe;width:75px;border:1px solid #26A5FF;border-radius: 5px;margin:5px 20px 5px 0px;}
.forum_category button:first-child{margin-left:100px;}
.forum_category button:last-child{float:right;margin-right:100px;width:150px;}

/*置顶公告*/
.forum_top_notice{width: 100%;height: 150px;border:1px solid gray;margin-bottom:10px;}
.forum_one_notice p{font-size: 16px;float:left;margin-left:50px;}
.forum_one_notice span{font-size:16px;float:right;margin-right:100px;}

/*论坛帖子区*/
.forum_one_message{width: 100%;height: 70px;margin-top:10px;box-shadow:1px 2px 2px 1px #aaa;}
.forum_message_left{float:left;width: 800px;}
.forum_message_left>img{float:left;width: 30px;border-radius: 50%;}
.forum_message_left p{font-size: 18px;line-height: 30px;margin-left:40px;}
.forum_message_left span{margin-left:10px;}
.forum_message_right{width:300px;float:right;}
.forum_message_right p{font-size: 18px;line-height: 30px;}
.forum_message_right span{margin-left:10px;}

/**
 * position:讨论区发帖;
 */
.forum_post_container{width: 1300px;margin:auto;height: 700px;}
.forum_post_container>p{margin:50px 0px 20px 100px;font-size: 18px;}
.forum_post_container form{width: 1000px;margin:auto;}
.forum_post_container form p{font-size: 18px;margin:10px 0px 0px 20px;}
.forum_post_container input[type=text]{width: 800px;padding: 4px 8px;border:1px solid #666;font-size: 18px;}
.forum_post_container textarea{width: 800px;height: 400px;border:1px solid #666;margin-left:70px;}
.forum_post_container select{width: 150px;border:1px solid #000;font-size: 18px;margin:10px 0px 20px 70px;}
.forum_post_container input[type=submit]{-webkit-appearance:button;width: 100px;border:1px solid #26A5FF;background: #fefefe;border-radius: 5px;padding: 8px 16px;font-size: 18px;margin:0px 0px 10px 500px;}

/**
 * position:讨论区看帖;
 */
.forum_show_container{width: 1300px;height: 1000px;margin:auto;}

.forum_show_left{float:left;max-width:900px;margin:20px 0px 20px 50px;}
.forum_show_left h1{font-size: 24px;font-weight: bold;margin-bottom:20px;}
.forum_show_left img{float:left;width: 60px;}
.forum_show_left p{float:left;font-size: 18px;line-height: 24px;margin-left:10px;}

.forum_show_right{float:left;width: 300px;}
.forum_show_right button{-webkit-appearance:button;font-size: 18px;background:#fefefe;border:1px solid #26A5FF;border-radius: 5px;padding:4px 6px;margin:20px 0px 0px 20px;}
.forum_show_right p{font-size: 18px;line-height: 24px;margin:20px 0px 0px 20px;}

/*帖子内容*/
.forum_show_content{width: 100%;}
.forum_show_content pre{margin:auto;text-align: center;}
.forum_show_content img{width: 300px}

/*论坛回复*/
.forum_reply_content{width: 1300px;height: 200px;padding:10px 0px 0px 20px;}
.forum_reply_content h1{font-size: 24px;font-weight: normal;margin-bottom:5px;}

.forum_one_reply{width: 1000px;border-top:2px solid #aaa;padding: 5px 0px 0px 15px;}
.forum_one_reply img{float:left;width: 50px;}
.forum_one_reply p{font-size: 16px;float:left;line-height: 24px;margin-left:10px;}
.forum_one_reply p:nth-child(6){margin-left:55px;padding: 8px 4px;font-size: 18px;}
.forum_one_reply hr{width: 940px;margin-left:50px;}

.forum_one_reply_one{margin-left:50px;width:940px;}
.forum_one_reply_one p:nth-child(6){margin-left:5px;}