@charset "utf-8";
/*css初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body {font-size:16px; color:#000; font-family:Microsoft YaHei,Verdana,Simsun,sans-serif; background:#fff; line-height:24px;width: 100%;min-height: 100%;padding-bottom: 150px;position: absolute;}
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em {font-style:normal; }
button,a,input[type=submit]{cursor: pointer;}
button, select, textarea {outline:none;}
textarea { resize:none; } 
p{ text-align:justify; text-justify:distribute;} 
pre {white-space: pre-wrap;word-wrap: break-word;}
a {color: #000; text-decoration:none; }
a:hover { color: #26A5FF; text-decoration:none;}
* {box-sizing: border-box;}

/*通用*/ 
.clearfix::after{display: block;content: '.';clear: both;height: 0;visibility: hidden;}

/*分页页号*/
#page_bar{width: 150px;height: 20px;margin:0px auto 10px auto}
#page_bar span{color:#000;font-size:20px;padding:2px 7px;}
#page_bar a{color:#666;font-size:20px;padding:2px 7px;}
#page_bar a:hover{color:#000;font-size: 22px;}
/*箭头*/
.page_symbol{font-size: 20px!important;color:#fff!important;}
.page_symbol:hover{border:none!important;color:#000!important;}
/*圆点*/
.page_dot{color:#fff!important;background:#587FCB!important;border-radius:50%!important;padding:2px 7px!important}

/*页尾*/
.footer{width: 100%;height: 100px;background: #5D82CC;position:absolute;bottom:0px;padding-top:30px;}
.footer p{text-align: center;font-size: 16px;color:#ECEFF8;}

/*头部*/
.header_pic{width:100%;height: 200px;background: #5D82CC;}
.header_pic>div{width:1300px;margin:auto;}
.header_logo{position: relative;right:140px;height: 200px;}
/*宽少于1500px;logo回收*/
@media screen and (max-width: 1500px) {
.header_logo{position: relative;right:0px;height: 200px;}
}

/*模态框圆角*/
.modal_radius{border-top-right-radius: 15px;border-top-left-radius: 15px;}
/*模态框标题*/
.modal_title{font-size: 24px;line-height: 20px;background:#5D82CC;margin-bottom:20px;padding:8px 6px;color:#fff;}
.modal_title>img{width: 30px;border:1px solid #26A5FF;border-radius: 50%;padding: 3px;margin:0px 15px;position:relative;top:5px;}

/*导航栏*/
.nav_bg{width:100%;background: #DEDEDE;margin-bottom:10px;}
.nav{width: 1300px;height:50px;margin:auto;}
.nav ul li{float:left;margin-right: 90px;}
.nav ul li:hover{border-bottom:5px solid #5D82CA;}
.nav ul li:last-child{float:left;margin-right:10px;}
.nav ul li a{font-size: 24px;line-height: 50px;}
.nav ul li img{width: 24px;margin-right:10px;position: relative;top:2px;}
.nav_login,
.user_message{float: right;font-size: 20px;line-height: 50px;}
.nav_login img,
.user_message img{width: 24px;height:23px;border-radius: 50%;position: relative;top:2px;margin-right:5px;}

/*模态框登录*/
.modal{display: none;position: fixed;z-index: 1000;left: 0;top:0;width: 100%;height:100%;overflow: auto;padding-top: 60px;background: rgba(0,0,0,0.4);}
.modal_content{background-color: #fff;margin:5% auto 15% auto;width:480px;height: auto;border-radius: 15px;box-shadow: 5px 5px 5px #666;}
.modal_img{text-align: center;position: relative;}
.modal_img>img{width: 100px;height:100px;margin-top: 50px;}
.modal_form{padding:16px;}
.modal_form p{font-size: 20px;margin-left: 60px;}
.modal_form input[type=text],input[type=password]{width: 250px;height: 30px;padding:8px 8px;font-size: 20px;border:1px solid #999;border-radius: 5px;background: white;margin:0px 0px 20px 15px;}
.modal_form a{float:right;margin-right:75px;color:#999;}
.modal_form input[type=submit]{display:block;margin:15px 0px 5px 60px;padding: 5px 10px;width: 315px;cursor: pointer;font-size: 20px;color:#fff;background: #F58772;border-radius: 5px;}
.modal_form input[type=submit]:hover{opacity: 0.7;}
/*关闭*/
.close{position: absolute;right:20px;top:10px;color:#333;font-size: 30px;font-weight: bold;}
.close:hover,
.close:focus{color:red;cursor:pointer;}
/*圆圈——关闭*/
.close_circle{color:#000;border-radius: 50%;background:#fff;padding:0px 1px 4px 0px;margin-top:3px;}
.animate{-webkit-animation:animatezoom 0.6s;animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom {from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}}
@keyframes animatezoom {from {transform: scale(0)} to {transform: scale(1)}}

/*用户信息模态框*/
.user_modal_content{background-color: #fff;margin:5% auto 15% auto;width: 500px;height:auto;border-radius: 10px;box-shadow: 5px 5px 5px #333;}
.user_modal_img{text-align: center;position: relative;padding-top: 20px;}
#showImg img{width: 100px;height:100px;border-radius: 50%;margin-top:25px;box-shadow: 4px 4px 8px #aaa;}
#up_img{width:200px;}
.user_modal_form{margin:auto;width: 330px;}
.user_modal_form>span:first-child{margin:0px 0px 30px 50px;}
.user_modal_form p{font-size:20px;margin:15px 0px 5px 10px;}
.user_modal_form label{margin-left:30px;}
.user_data{display: inline-block;background:#EFEFEF;width:200px;border-radius: 5px;padding:4px;margin-left:10px;}
.user_modal_form input[type=text]{font-size: 18px;padding:4px 6px;border:1px solid #ccc;border-radius: 5px;margin-left:10px;}
.user_modal_form select{font-size: 18px;width: 200px;background: #fefefe;margin-left:28px;}
.user_modal_form input[type=submit],.user_modal_content button
{font-size: 20px;padding:4px 6px;color:#fff;width:320px;border-radius: 5px;margin-top:20px;border:1px solid #fff;}
.user_modal_form input[type=submit]{background: #F58772;margin-left:0px;}
.user_modal_content button{background:#A9A9A9;margin:15px 0px 45px 85px;}
.user_modal_form input[type=submit]:hover,.user_modal_content button:hover{opacity: 0.3}
/**
 * position:首页;
 */
.index_container{width: 1300px;height:auto;margin:auto;}
.news_nav{height: 40px;background: #5D82CC;margin-bottom:10px;}
.hots_news>.news_nav{background:#E1806D;}
.news_nav>img{float:left;width:30px;height: 30px;margin:5px 10px;}
.news_nav>h1{float:left;font-size: 20px;font-weight: bold;line-height: 40px;color:#fff;}
.news_nav>a{float:right;margin-right:15px;color:#fff;font-size: 16px;line-height: 40px;}
.news_nav>a:hover{color:#666;}
.news_list li{width:100%;line-height: 24px;font-size: 18px;padding:0px 6px;}
.li_dot{float:left;color:#5D82CC;font-size: 18px;margin:0px 10px 0px 15px;}
.news_list li>a{display:inline-block;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;width: 65%;}
.news_list li>span:last-child{float:right;margin-right:10px;color:#5D82CC;}
/*绘制分割线*/
.excellent_line{height: 40px;width:100%;margin-top:10px;}
.rectangle{display: inline-block;width:200px;height: 40px;background: #5D82CC;float:left;font-size: 20px;line-height: 40px;}
.rectangle>img{width:30px;height: 30px;margin:5px 10px;}
.rectangle>span{font-size: 20px;line-height: 40px;color:#fff;position: relative;bottom: 10px;font-weight: bold}
.right_tri{display: inline-block;width: 0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 40px solid #5D82CC;}
.greater_than{font-size: 60px;color:#5D82CC;}
.dashed_line{font-size: 60px;color:#CDCDCD;}
.excellent_line>span:last-child{display: inline-block;width:225px;height: 40px;border:20px solid #5D82CC;border-left:40px solid transparent;float:right;}
.excellent_line>span:last-child>span{font-size: 20px;color:#fff;line-height: 20px;position:relative;bottom:10px;left:50px;}
/*轮播图*/
.slideshow_container{width: 760px;height:425px;position: relative;margin:auto;float:left;}
.slides{display: none;}
.slides img{vertical-align: middle; max-width:760px;height: 425px;}
.numbertext{color:#000;font-size: 12px;padding:8px 12px;position: absolute;top:0;}
.slideshow_text{color: #000;font-size: 15px;padding:8px 12px;position:absolute;bottom: 8px;width: 100%;text-align: center;}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration: 1.5s;}
@-webkit-keyframes fade{from {opacity: 0.4} to {opacity: 1}}
@keyframes fade{from {opacity: 0.4} to {opacity: 1}}

/*最新消息*/
.hots_news{float:right;height:425px;width: 530px;border:1px solid #C5C5C5;}

/*优秀作品*/
.excellent_works{float:left;width:645px;height:300px;border:1px solid #C5C5C5;margin-top: 30px;}

/*站外资讯*/
.outside_news{float:right;width: 645px;height: 300px;border:1px solid #C5C5C5;margin-top: 30px;}

/*优秀师生*/
.excellent_figure{margin-top: 10px;width:100%;height: 200px;}
.excellent_figure figure{float:left;margin-left:250px;}
.excellent_figure figure img{height: 100px;width:100px;border-radius: 50%;box-shadow: 3px 3px 3px #ccc;}
.excellent_figure figcaption{text-align: center;font-size: 18px;}
.excellent_teachers{width: 1300px;height:180px;border:1px solid #C5C5C5;}
.excellent_students{width: 1300px;height:180px;border:1px solid #C5C5C5;}


/**
 * position:查看资讯;
 */
.news_container{width:1000px;margin:auto;height: auto;min-height:600px;background: #fefefe;padding:10px;box-shadow: 3px 3px 6px #666;}
.news_container>h1{text-align: center;font-size: 24px;margin:10px 0px 5px 0px;}
.news_data{text-align: center;font-size: 12px;color:#bbb;}
.news_modify{float:right;color:#bbb;font-size: 18px;}

/**
 * position:查看更多资讯;
 */
.more_news_container{width:1000px;margin:auto;height: auto;background: #fefefe;padding:10px;}
.more_news_nav{font-size: 18px;margin:10px 0px 20px 50px;}
.more_news_nav>span{color:#26A5FF;}
.list_more_container{height: auto;width:800px;margin:auto;}
.list_more_news{list-style-type: disc;height: 600px;}
.list_more_news li{font-size: 18px;margin:5px 0px 5px 0px;}
.list_more_news a{display: inline-block;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;width:80%;}
.list_more_news li>span{float:right;margin-right:80px;color:#999;}


/**
 * position:课程资源;
 */	
/*左上图片*/
.feature_pic{height:80px;width:80px;border-radius: 50%;background: #5D82CC;position:relative;z-index: 1;}
.feature_pic>img{width:80px;height:80px;padding:15px;position: relative;}

.feature_pic2{height:60px;width:60px;border-radius: 50%;position:relative;z-index: 1;}
.feature_pic2>img{width:60px;height:60px;padding:10px;position: relative;}

.resource_container{width: 1300px;height: 700px;margin:auto;}

/*资源下载*/
.resource_container_left{width: 900px;height:auto;float:left;}
/*资源页面导航条*/
.resource_line{width:500px;height:30px;font-size: 16px;color:#FFF;line-height: 30px;}
.resource_nav{display: inline-block;width:200px;height: 30px;background: #5D81CB;float:left;padding-left:10px;}
.resource_nav a{color:#fff;}
.resource_nav a:hover{color:#26A5FF;}
.resource_tri{float:left;width:0px;height: 0px;border-left:30px solid #5D81CB;border-top:15px solid transparent;border-bottom:15px solid transparent;}
.resource_nav2{display: inline-block;width:120px;height: 30px;border:15px solid #E1806D;border-left:30px solid transparent;float:left;margin-left:-20px;}
.resource_nav2>span{position: relative;bottom:15px;left:10px;}
/*资源显示*/
.resource_show{height: 600px;border-top:5px solid #9B9B9B;border-left:5px solid #9B9B9B;margin-top:-28px;}
.resource_show figure{width: 15%;padding:10px;float:left;}
.resource_show img{width: 100%;padding:10px;}
.resource_show figcaption{font-size: 14px;text-align: center;height:15px;}
	
/*资源分类*/
.resource_select{width: 340px;height:auto;float: left;margin-left:20px;margin-top:61px;}
/*按钮*/
.resource_select>button{font-size: 20px;padding:6px 18px;color:#fff;font-weight: bold;border:none;border-radius: 5px;background: #888;margin-top:30px;line-height: 40px;}
.resource_select>button:hover{box-shadow: 2px 2px 2px #999;}
.resource_select>button>img{height: 30px;width:30px;margin-right:10px;position:relative;top:5px;}
.resource_select>button:first-child{margin-left:5px;}
.resource_select>button:nth-child(2){float:right;}
/*资源分类*/
.resource_category{width: 100%;height: 230px;border-left:1px solid #ccc;padding-left: 5px;margin-top:15px;}
.resource_category>p{font-size: 18px;margin-top:15px;font-weight: bold;padding:8px 8px;color:#fff;background: #5D81cb;margin-bottom:15px;}
.resource_category>p>img{width:24px;height: 24px;margin-right:10px;position: relative;top:4px;}
.resource_category li{font-size: 16px;padding: 3px 8px;border-bottom:1px solid #ccc;}
.resource_category li>img{width:18px;height: 18px;margin-right:10px;position: relative;top:3px;}
/*推荐资源*/
.resource_recom{border-left:1px solid #ccc;padding-left:5px;}
.resource_recom>p{font-size: 18px;font-weight: bold;padding:0px 8px 8px 8px;color:#fff;background: #E1806D;margin-bottom:15px;}
.resource_recom>p>img{width:30px;height: 30px;margin-right:10px;position: relative;top:8px;}
.resource_recom li{font-size: 16px;padding: 3px 8px;border-bottom:1px solid #ccc;margin-left:28px;}
	
/*上传资源-模态框*/
.upload_modal_content{background-color: #fff;margin:auto;border:1px solid #26A5FF;width: 600px;height: auto;position: relative;}
.upload_modal_content p{font-size: 20px;padding: 8px 8px;margin-left:95px;}
.upload_modal_content input[type=text]{width:200px;padding: 4px 8px;font-size: 18px;margin-left:30px;}
.upload_modal_content select{padding: 4px 8px;font-size: 18px;margin-left:25px;}
.upload_modal_content input[type=file]{padding: 4px 8px;width:250px;margin-left:25px;}
.upload_modal_content input[type=submit]{padding: 4px 8px;width:100px;background: #26A5FF;border:1px solid #fefefe;font-size: 18px;border-radius: 5px;color:#fff;float:right;margin:0px 60px 10px 0px;}
.upload_modal_content input[type=submit]:hover{opacity: 0.7;}
.upload_progress{width:80%;height:30px;margin:0px 0px 20px 10px;float:left;}
#upload_progress{width: 0%;background: #26A5FF;height: 100%;}
#upload_rate{float:left;line-height: 30px;font-size: 18px;margin-left:10px;}
/*添加标签-模态框*/
.add_tag_content{background-color: #fff;margin:auto;border:1px solid #7696D5;width:500px;height: auto;position: relative;}
.add_tag_content>h1>span{font-size: 14px;font-weight: normal;opacity: 0.7;}
.add_tag_content input[type=text]{width:200px;padding: 4px 8px;border:1px solid #26A5FF;margin-left:65px;font-size: 18px;border-radius: 5px;}
.add_tag_content input[type=submit]{padding: 4px 8px;width:100px;margin:0px 0px 30px 20px;background: #26A5FF;border:1px solid #fefefe;font-size: 18px;border-radius: 5px;color:#fff;}
.add_tag_content input[type=submit]:hover{opacity: 0.7;}

/**
 * position:学习园地;
 */
.study_container{width: 1300px;height: auto;margin:auto;border:1px solid gray;}
/*左侧内容*/
.study_container_left{width: 300px;height: 100%;float:left;}
.study_container_left>button{-webkit-appearance:button;background: #fefefe;padding:4px 6px;font-size: 16px;border:1px solid #26A5FF;border-radius: 5px;width: 100px;margin:10px 10px 20px 30px;float:left;}
.study_container_left>button:hover{background: #000;color: #26A5FF;border:1px solid #fff;opacity: 0.7;}
.study_container_left>p{font-size: 16px;margin-left:20px;opacity: 0.5;}
.caret{cursor: pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.caret::before{content:"\25B6";color: #000;display: inline-block;margin-right:6px;}
.caret_down::before{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.nested{display: none;margin-left:40px;}
.active{display: block;}
#treeview{margin-left:20px;width: 250px;font-size: 16px;color:#333;}
/*添加父节点-模态框*/
.add_dir_content{background-color: #fefefe;margin:auto;border:1px solid #26A5FF;width: 500px;height: auto;position: relative;}
.add_dir_content>h1>img{width: 30px;border:1px solid blue;border-radius: 50%;padding: 3px;}
.add_dir_content>h1{font-size: 24px;line-height: 20px;margin: 20px;}
.add_dir_content>h1>span{font-size: 14px;font-weight: normal;opacity: 0.7;}
.add_dir_content input[type=text]{width:200px;padding: 4px 8px;border:1px solid #26A5FF;margin-left:50px;font-size: 18px;border-radius: 5px;}
.add_dir_content input[type=submit]{-webkit-appearance:button;padding: 4px 8px;width:100px;margin:0px 0px 30px 20px;background: #26A5FF;border:1px solid #fefefe;font-size: 15px;border-radius: 5px;}

.study_container_right{float:left;width:998px;min-height:700px;padding:8px 15px;border-left:1px solid #999;}	
.study_container_right>h1{font-size: 20px;}
.study_container_right>p{font-size: 16px;opacity: 0.7;}
.study_container_right>p>a{float:right;}
.study_container_right>p>span{margin-left:20px;}

/**
 * 学习园地-发布文章
 */
/*发布文章导航条*/
.ue_line{width:300px;height:30px;font-size: 16px;color:#FFF;line-height: 30px;margin-top:10px;margin-bottom:20px;}
.ue_nav{display: inline-block;width:90px;height: 30px;background: #5D81CB;float:left;padding-left:10px;}
.ue_nav>span{margin-left:7px;}
.ue_nav a{color:#fff;}
.ue_nav a:hover{color:#26A5FF;}
.ue_tri{float:left;width:0px;height: 0px;border-left:30px solid #5D81CB;border-top:15px solid transparent;border-bottom:15px solid transparent;}
.ue_nav2{display: inline-block;width:120px;height: 30px;border:15px solid #E1806D;border-left:30px solid transparent;float:left;margin-left:-20px;}
.ue_nav2>span{position: relative;bottom:15px;left:10px;}
.ue_tri:last-child{border-left:30px solid #E1806D;}

.study_add_article{width: 1300px;height: 800px;margin:auto;}
.study_add_article>p:first-child{font-size: 18px;margin:50px 0px 10px 50px;}
.study_add_article>p:first-child>span{color:#26A5FF;}
.study_add_article>form{width: 1100px;margin:auto;}
.study_add_article>form>input[type=text]{width: 1100px;font-size: 24px;border:1px solid #999;margin-bottom:10px;}
.study_add_article>form select{border:1px solid #eee;font-size: 20px;padding:8px 16px;margin:20px 0px 20px 0px;cursor: pointer}
.study_add_article>form>input[type=submit]{font-size: 20px;border:1px solid #f8f8f8;background: #26A5FF;color:#fff;padding:8px 32px;border-radius: 8px;float:right;margin:10px 0px 20px 0px;}
.study_add_article>form>input[type=submit]:hover{opacity:0.8;}

/**
 * position:发布作业;
 */
/*作业导航条*/
.work_line{width:400px;height:30px;font-size: 16px;color:#FFF;line-height: 30px;margin-top:10px;margin-bottom:-10px;}
.work_nav{display: inline-block;width:80px;height: 30px;background: #5D81CB;float:left;padding-left:10px;}
.work_nav>span{margin-left:15px;}
.work_nav2 a{color:#fff;}
.work_nav2 a:hover{color:#26A5FF;}
.work_tri{float:left;width:0px;height: 0px;border-left:30px solid #5D81CB;border-top:15px solid transparent;border-bottom:15px solid transparent;}
.work_nav2{display: inline-block;width:120px;height: 30px;border:15px solid #5E82CC;border-left:30px solid transparent;float:left;margin-left:-20px;}
.work_nav2>span{position: relative;bottom:15px;left:10px;}
.work_nav2:nth-child(5){border:15px solid #E1806D;border-left:30px solid transparent;}
.work_tri:last-child{border-left:30px solid #E1806D;}

/*容器*/
.issue_container{width:1300px;height: 750px;margin:auto;}
.issue_container p{font-size: 18px;}
.issue_form_container{width:100%;height: 620px;box-shadow: 2px 2px 2px #ccc;border-left:5px solid #ccc;}
#show_time{padding:0px 10px;color:#26A5FF;}
/*表单头顶*/
.issue_form_top{position: relative;bottom:18px;}
.issue_form_top>span:first-child{display: inline-block;width:1000px;border:3px solid #ccc;position: relative;bottom:12px;}
.issue_form_top>img{margin-left:30px;width:36px;height: 36px;}
.issue_form_top>span:last-child{position: relative;bottom:10px;}
/*表单内容*/
.issue_container form{width:600px;margin:auto;}
.issue_container form span{font-weight: normal;opacity: 0.6;}
.issue_container input[type=text]{padding: 4px 8px;width:445px;margin:0px 0px 20px 29px;font-size: 18px;}
.issue_container textarea{font-size: 18px;padding:4px 8px;width:445px;height:300px;position: relative;left:82px;bottom:18px;margin-bottom:-18px;}
.issue_container input[type=file]{padding: 4px 8px;width:400px;margin:10px 0px 0px 0px;font-size: 18px;}
.issue_container select{font-size: 16px;padding: 4px 8px;margin:10px 0px 10px 0px;}
.issue_container input[type=submit]{-webkit-appearance:button;width: 300px;padding: 4px 8px;font-size: 16px;margin:10px 0px 0px 150px;border: 1px solid #26A5FF;border-radius: 5px;background: #fefefe;}
.issue_container input[type=submit]:hover{background: #26A5FF;color:#fff;}

/**
 * position:批改作业;
 */
.check_container{width: 1300px;height: 810px;margin:auto;}
.check_form_container{width:100%;height: 680px;border-left:5px solid #ccc;box-shadow: 2px 2px 2px #ccc;}
.select_form{padding: 10px 20px;}
.select_form p{font-size: 18px;}
.select_form form{margin:0px 0px 0px 120px;}
.select_form span{font-size: 18px;padding: 0px 10px;}
.select_form form>span:first-child{display:inline-block;margin-bottom:40px;}
.select_form select[name=class]{padding: 4px 8px;width: 150px;font-size: 18px;}
.select_form select[name=YYYY],
.select_form select[name=MM],
.select_form select[name=DD]{font-size: 18px;}
.select_form input[type=submit]{-webkit-appearance:button;padding: 2px 16px;font-size: 18px;margin-left:10px;background: #fefefe;border:1px solid #ccc;border-radius: 5px;}
.select_form input[type=submit]:hover{background: #26A5FF;color:#fefefe;}

/* 侧边栏发布作业记录 */
.work_history{width: 0;position: fixed;z-index: 1;height: auto;top: 80px;left: 0;background-color: #e5e5e5;overflow-x: hidden;transition: 0.5s;opacity:0.9;border-radius: 15px;}
.work_history>p:first-child{color:#666;text-align: center;padding:4px 6px;border-bottom:2px solid #555;background: #fff;}
.history_msg{padding:4px 4px;}
.history_msg p{font-size: 16px;}
.history_msg>p>span{padding:0px 10px;border-radius: 5px;border:1px solid #26A5FF;color:#eee;margin-right:0px;background: #5D82CC;}


.select_result{margin:0px auto;width:1000px;}
.select_result p{font-size: 16px;padding: 4px 8px;margin-left:0px;}
.select_result table{border-collapse: separate;margin:auto;width: 1000px;border-spacing: 0;}
.select_result table th,td{border:1px solid #999;padding: 2px 4px;font-size: 18px;text-align: center;}
.select_result tr:nth-child(even){background: #f2f2f2;}
.select_result tr:first-child th:first-child {border-top-left-radius: 12px;}
.select_result tr:first-child th:last-child {border-top-right-radius: 12px;}
.select_result tr:last-child td:first-child {border-bottom-left-radius: 12px;}
.select_result tr:last-child td:last-child {border-bottom-right-radius: 12px;}

#check_p{text-align: center;font-size: 24px;color:red;}
.no_submit{color: red;}
.d_file{color:#bbb;}
.works_span{display:inline-block;font-size: 18px;margin: 0px 0px 20px 250px;}
.select_works{font-size: 18px;padding:5px 10px;color:#26A5FF;}
.select_works:hover{color: #000;}

/*批改作业模态框*/
.check_modal_content{background-color: #fefefe;margin:auto;border:1px solid #ccc;width: 1000px;height: auto;border-radius: 15px;}
.check_modal_head{position: relative;background: #6E8FD2;bottom:22px;border-top-left-radius: 15px;border-top-right-radius: 15px;}
.check_modal_head>h2{padding:14px 6px;color:#fff;font-weight: normal;}
.check_modal_issue_work{margin:20px 0px 0px 50px;}
.check_modal_issue_work>p{font-size: 18px;line-height: 30px;font-weight: normal}
.check_modal_issue_work>p>img{width:26px;height:26px;position:relative;right:10px;top:5px;}
.check_modal_submit_work{margin:20px 0px 0px 50px;}
.check_modal_content h2{margin:20px 0px 20px 43px;font-size: 20px;font-weight: bold;}
.check_modal_submit_work{margin-left:180px;font-weight: normal}
.check_modal_submit_work pre{font-size: 14px;}
.check_modal_submit_work p{margin-left:-100px;font-size: 18px;line-height: 30px;}
.check_modal_content form{margin:20px 0px 30px 140px;}
.check_modal_content form>p{font-size: 18px;float:left;padding:4px 8px;font-weight: normal}
.check_modal_content form input[type=text]{padding:4px 8px;font-size: 16px;}
.check_modal_content form input[type=submit]{float:left;padding:4px 6px;font-size: 16px;margin:3px 0px 0px 12px;background: #D2664F;border-radius: 5px;color:#fff;}


/**
 * position:学生查看作业;
 */
.show_work_container {width: 1300px;height:700px;margin:auto;}
.show_work_content{width: 1100px;height: auto;border:1px solid #BFBEBF;border-radius: 5px;margin:0px auto 20px auto;padding:8px 16px;}
.show_work_content h2{font-size: 18px;font-weight: bold;margin-bottom:10px;width: 600px;}
.show_work_content p{margin-left:15px;}
.show_work_content button{float:right;padding:4px 8px;width: 75px;background: #f7f7f7;margin:15px 20px 0px 0px;font-size:16px;border:1px solid #BFBEBF;border-radius: 5px;cursor: pointer;}
.show_work_content button:hover{background: #26A5FF;color:#fff;}
.adjust_pos{height: 530px;}

/*查看作业-模态框*/
.show_modal_content{background-color:#F9F7FD;margin:auto;width: 1000px;height:auto;position: relative;border-radius: 15px;}
.show_modal_content>h1{font-size: 20px;font-weight: bold;background: #E4887E;width:100%;color:#fff;text-align: center;padding:8px;}
.show_modal_content>h2{text-align: center;font-size: 20px;font-weight: bold;margin:20px auto -20px auto;}
.show_modal_content p{font-size: 18px;padding:4px 8px;text-align: center}
.show_work_question{background: #E9E8EA;width:860px;margin:auto;height: auto;padding:20px;text-align: center;font-size: 18px;}
.show_work_question>p>a{color:#26A5FF;}
.show_modal_content form{width:860px;margin:auto;}
.show_modal_content textarea{font-size: 16px;width: 860px;height: 400px;overflow:auto;background: none;margin:0px auto 10px auto;border:2px solid #949296;padding:30px 10px 10px 20px;}
.show_modal_content textarea::-webkit-input-placeholder{font-size: 18px;color:#C1C1C2;}
.show_modal_content textarea::-moz-placeholder{font-size: 18px;color:#C1C1C2;}
.show_modal_content textarea:-ms-input-placeholder{font-size: 18px;color:#C1C1C2;}
.up_work_file{text-align: left!important;margin:10px 0px 10px 30px;font-size: 18px;margin-top}
.show_modal_content input[type=file]{font-size: 16px;}
.show_modal_content input[type=submit]{padding:2px 8px;width: 250px;border:1px solid #26A5FF;border-radius: 5px;float:right;margin-bottom:20px;font-size: 18px;}
.show_modal_content input[type=submit]:hover{color:#fff;background: #26A5FF}
.overtime{font-size: 22px;color:red;margin:20px auto;}

/**
 * position:学生查看成绩;
 */
.work_calen{width:350px;font-size: 18px;background: #fff;float:right;position:relative;bottom:25px;text-align: center;}
.work_calen>img{width:32px;height: 32px;position:relative;top:5px;margin-right:10px;}
.work_calen span:last-child{color:#26A5FF;}
.show_grade_container {width: 1300px;height:700px;margin:auto;}
.show_grade_table{width:100%;height: 600px;margin-top:20px;box-shadow: 4px 4px 6px #ccc;border-top:1px solid #D3D3D3;border-left:1px solid #D3D3D3;}
.show_grade_table table{border-collapse: separate;margin:50px auto;border-spacing: 0}
.show_grade_table tr:nth-child(even){background: #f2f2f2;}
.show_grade_table th,td{border:1px solid #666;font-size: 16px;padding:4px 8px;width: 250px}
.show_grade_table tr:first-child th:first-child {border-top-left-radius: 12px;}
.show_grade_table tr:first-child th:last-child {border-top-right-radius: 12px;}
.show_grade_table tr:last-child td:first-child {border-bottom-left-radius: 12px;}
.show_grade_table tr:last-child td:last-child {border-bottom-right-radius: 12px;}


/**
 * position:老师试题区;
 */
.test_container{width: 1300px;height: auto;min-height:850px;margin:auto;border:1px solid red;}
.test_left{width: 300px;height:auto;float:left;border-right:2px solid gray;}
.test_left>a{display: block;padding:4px 6px;border:1px solid #26A5FF;border-radius: 5px;width:100px;text-align: center;margin:10px auto;}
.test_left>a:hover{background: #26A5FF;color:#fff;}
.test_title_list h3{font-size: 18px;padding:2px 3px;}
.test_title_list ul{margin-left:20px;}
.test_title_list ul li a{color:#26A5FF;}
.test_title_list ul li a:hover{color:orange}
.test_right{float:right;width:980px;height:auto;}
.test_right>h2{font-size: 20px;margin:10px 0px 10px 10px;}
.display_content{width:900px;margin:auto;}
.display_test{font-size: 16px;margin:5px 0px 15px 0px;}
.display_test label{font-size: 16px;margin:10px 10px 0px 30px;}
.display_test input[type=radio]{margin-right:5px;}
.test_answer{color:red;margin:10px 0px 0px 0px;}

/**
 * position:添加试题;
 */
.add_test_container{width:1300px;height:auto;border:1px solid #ccc;margin:auto;margin-top:30px;}
.add_test_container>h1{font-size: 24px;padding:10px;color:#FFF;background:#507ACA;text-align: center;margin-bottom:15px;}
.add_test_container>input[name='title']{display:block;width:50%;font-size: 24px;margin-bottom: 20px;margin:0px auto 10px auto;}
.add_test_container>input[type=submit]{float:right;margin:10px 0px 10px 0px;font-size: 22px;background: #f8f8f8;border:1px solid #26A5FF;padding:6px 36px;border-radius: 5px;}
.add_test_container>input[type=submit]:hover{background: #26A5FF;color:#fff;}

/*选择题*/
.add_choice_container>h2{font-size: 20px;margin:10px 0px 0px 50px;float:left;}
.add_icon,.minus_icon{font-size: 28px;color:#fff;border-radius: 50%;margin-left:20px;cursor:pointer;user-select:none;}
.add_icon{padding: 0px 4px 4px 4px;background: #7CC699}
.minus_icon{padding:0px 6px 4px 6px;background: #D26760;margin-right:10px;}
.add_choice_container>span{float:left;margin-top:10px;}
#add_count{color:red;margin-left:10px;}
.choice_form{width:1000px;border:1px solid red;margin:auto;}
.add_choice_temp{padding:5px 0px;}
.add_choice_temp p{font-size: 18px;margin:10px 0px 10px 60px;}
.add_choice_temp input[type='text']{outline:none;border:none;border-bottom:1px solid #999;font-size: 18px;padding:2px 4px;}
.choice_answer{margin-left:80px!important;}
.add_choice_temp input[name='q[]']{width: 90%;margin-bottom:10px;}
.add_choice_temp input[name='A[]'],
.add_choice_temp input[name='B[]'],
.add_choice_temp input[name='C[]'],
.add_choice_temp input[name='D[]']{width:17%;margin:0px 15px 10px 5px;}
.add_choice_temp select[name='res[]']{font-size: 20px;width:50px;}


/**
 * position:学生试题区
 */
.ready_test{width:900px;height:500px;margin:auto;background: url('../images/icon/javaTest.png');box-shadow: 2px 2px 6px #aaa;border:1px solid transparent;}
.ready_test>h1{font-size: 28px;text-align: center;color:#797979;margin-top:230px;}
.ready_test select{font-size: 30px;background: #fff;border:2px solid #5D82CC;width: 290px;margin-left:70px;cursor: pointer;outline:none;color:#333;}
.ready_test form{margin:60px 30px 20px 170px;}
.ready_test input[type=submit]{font-size: 22px;background: #5D82CC;border:1px solid #26A5FF;border-radius: 5px;padding:6px 8px;position: relative;bottom:5px;color:#fff;}
.ready_test input[type=submit]:hover{opacity: 0.9}

/**
 * position:试题测验;
 */
.start_test_container{width:1300px;height: 600px;margin:auto;background: #f8f8f8;padding-top:50px;}
.test_content{width:800px;height: 500px;margin:auto;box-shadow: 1px 1px 1px 1px #aaa;}
.test_content>h2{font-size: 24px;margin:0px 0px 20px 20px;padding-top:20px;}
/*题号*/
.topic_num{width:80%;margin:auto;font-size: 18px;background: #eee;}
.number{cursor: pointer;color:#666;padding:2px 6px;}
.number:hover{border:1px solid #26A5FF;}
.num_active{border:1px solid #26A5FF;color:#26A5FF;}
/*题目*/
.one_topic{margin:10px 0px 10px 80px;font-size: 18px;min-height:200px;height:auto;max-height:350px;width:80%;}
.one_topic label{display: block;margin:10px 0px 10px 20px;}
.one_topic input[type=radio]{margin-right:5px;}
/*按钮*/
.topic_btn{width: 100%;height: 50px;margin-bottom:0px;}
.topic_btn button{-webkit-appearance:button;font-size: 20px;background: #26A5FF;color:#f8f8f8;padding:4px 6px;border-radius: 5px;}
.topic_btn button:hover{opacity: 0.7;}
#prev{float:left;margin:10px 0px 10px 70px;}
#next{float:right;margin:10px 70px 10px 0px;}
#submit_topic{font-size: 20px;background: #fff;color:#26A5FF;border:1px solid #26A5FF;padding:4px 6px;border-radius: 5px;float:right;margin:10px 70px 10px 0px;display:none;}
#submit_topic:hover{background: #000;color:#fff;}
/*答案展示*/
.answer_topic{margin:30px auto 10px auto;width:100%;height:100px;font-size: 18px;padding:0px 0px 10px 50px;border:1px solid red;}



/**
 * position:讨论区;
 */
.forum_container{width: 1300px;height: 900px;margin:auto;border:1px solid #f8f8f8;}
/*图片占位符*/
.forum_img{width: 100%;height: 100px;background: #eee;}
.forum_container>img{width: 100%;height: 100px;}

/*标签分类*/
.forum_category{width: 100%;height: 50px;border-top:2px solid #666;}
.forum_category a{display:block;float:left;padding:4px 6px;font-size: 20px;color:black;background: #fefefe;width:75px;border:1px solid #26A5FF;border-radius: 5px;margin:5px 20px 5px 0px;text-align: center}
.forum_category a:hover{background: #26A5FF;opacity: 0.8;color:#fff;}
.forum_category a:first-child{margin-left:100px;}
.forum_category a:last-child{float:right;margin-right:100px;width:150px;}

/*置顶公告*/
.forum_top_notice{width: 100%;min-height:50px;height: auto;border:1px solid gray;margin-bottom:10px;}
.forum_one_notice p{font-size:16px;padding:5px 0px;}
.forum_one_notice p>a{margin-left:50px;}
.forum_one_notice p>span{float:right;margin-right:100px;}

/*论坛帖子区*/
.forum_one_message{width: 100%;height: 70px;margin-top:10px;box-shadow:1px 2px 2px 1px #eee;}
.forum_message_left{float:left;width: 800px;}
.forum_message_left>img{float:left;width: 30px;border-radius: 50%;}
.forum_message_left p{font-size: 18px;line-height: 30px;margin-left:40px;}
.forum_message_left span{margin-left:10px;}
.forum_message_right{width:350px;float:right;text-align: right}
.forum_message_right p{font-size: 18px;line-height: 30px;}

/**
 * position:讨论区发帖;
 */
.forum_post{width: 1300px;height: 800px;border:1px solid gray;margin:auto;padding:5px 10px;}
.forum_post>p:first-child{font-size: 18px;margin:50px 0px 10px 50px;}
.forum_post>p:first-child>span{color:#26A5FF;}
.forum_post>form{width: 1100px;margin:auto;}
.forum_post>form>input[type=text]{width: 1100px;font-size: 24px;border:1px solid #999;margin-bottom:10px;}
.forum_post>form select{border:1px solid #eee;font-size: 20px;padding:8px 16px;margin:20px 0px 20px 0px;}
.forum_post>form>input[type=submit]{-webkit-appearance:button;font-size: 20px;border:1px solid #f8f8f8;background: #26A5FF;color:#fff;padding:8px 32px;border-radius: 8px;float:right;margin:10px 50px 20px 0px;}
.forum_post>form>input[type=submit]:hover{opacity:0.8;}
/**
 * position:讨论区看帖;
 */
.forum_show_container{width: 1300px;height: auto;margin:auto;border:1px solid red}

.forum_show_left{float:left;max-width:800px;margin:10px 0px 20px 20px;}
.forum_show_left h1{font-size: 24px;font-weight: bold;margin-bottom:20px;line-height: 30px;}
.forum_show_left img{float:left;height: 50px;width:50px;border-radius: 50%;}
.forum_show_left p{float:left;font-size: 18px;line-height: 24px;margin-left:10px;}

.forum_show_right{float:right;margin:5px 0px 0px 0px;width: 450px;}
.forum_show_right button{-webkit-appearance:button;font-size: 18px;background:#fefefe;border:1px solid #26A5FF;border-radius: 5px;padding:4px 6px;margin:10px 0px 0px 20px;}
.forum_show_right button:hover{background: #26A5FF;color:#fff;opacity: 0.7;}
.forum_show_right p{font-size: 18px;line-height: 24px;margin:20px 0px 0px 20px;}

/*帖子内容*/
.forum_show_content{width: 1200px;margin:auto;}

/*论坛回复*/
.forum_comment_content{width: 1300px;height: auto;min-height:600px;border:1px solid gray;padding:10px 0px 0px 20px;margin-top: 100px;}
.forum_comment_content h1{font-size: 24px;font-weight: normal;padding-bottom:10px;margin-bottom:5px;width:1200px;}
/*回复本帖*/
.forum_one_comment{width: 1200px;padding: 5px 0px 0px 15px;border-top:1px solid #aaa;}
.forum_one_comment>img{float:left;height: 50px;width:50px;border-radius: 50%;}
.forum_one_comment img{max-height: 250px;width:auto;}
.comment_left{font-size: 16px;float:left;line-height: 24px;margin-left:10px;color:#333;}
.comment_content{font-size: 18px;margin:10px 0px 10px 20px;}
.forum_one_comment button{-webkit-appearance:button;border:none;background: transparent;font-size: 18px;float: right;margin:0px 50px -10px 0px;}
.forum_one_comment button:hover{color:#26A5FF;}
/*回复楼层*/
.forum_one_reply{margin-left:50px;width:1135px;border-top:1px dashed #aaa;font-size: 18px;color:#333;}
.forum_one_reply:last-child{margin-left:50px;width:1135px;}
.reply_nick{float:left;}
.reply_content p{float:left;}
/*留言板-评论*/
.forum_comment{width:500px;position: fixed;bottom:0px;right:10px;z-index:100;border:1px solid #bbb;background: #fff;display:block;}
.forum_comment>form>span{font-size: 18px;position:relative;top: 20px;left: 20px;}
.forum_comment>form>span:hover{text-decoration: underline;color:red;cursor: pointer;}
.forum_comment>form>input[type=submit]{-webkit-appearance:button;font-size: 24px;padding:2px 8px;background: #fff;border:1px solid #26A5FF;border-radius: 5px;float:right;margin:10px 50px 10px 0px;}
.forum_comment>form>input[type=submit]:hover{-webkit-appearance:button;background: #26A5FF;opacity: 0.7;color:#f8f8f8;}
/*留言板-回复*/
.forum_reply{width:500px;position: fixed;bottom:0px;right:10px;z-index:100;border:1px solid #bbb;background: #fff;display:none;}
.forum_reply>form>span{font-size: 18px;position:relative;top: 20px;left: 20px;}
.forum_reply>form>span:hover{text-decoration: underline;color:red;cursor: pointer;}
.forum_reply>form>input[type=submit]{-webkit-appearance:button;font-size: 24px;padding:2px 8px;background: #fff;border:1px solid #26A5FF;border-radius: 5px;float:right;margin:10px 50px 10px 0px;}
.forum_reply>form>input[type=submit]:hover{-webkit-appearance:button;background: #26A5FF;opacity: 0.7;color:#f8f8f8;}
