<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="root">
		<div>
			<input v-model="inputValue" />
			<button @click="handleSubmit">提交</button>
		</div>
		<ul>
			<!-- 使用组件 -->
			<!-- :content 通过属性传递值 -->

			<todo-item v-for="(item, index) of list" :key="index" :content="item" :index="index" @delete="handleDelete"></todo-item>
		</ul>
	</div>

	<script>
		//子组件
		//定义全局组件，每一个Vue组件就是一个Vue实例(组件是实例，实例也是组件)
		//项目由多个实例组成
		Vue.component('todo-item', {
			//接受属性值,使组件可以使用{{}}
			props: ['content','index'],
			template: '<li @click="handleClick">{{content}}</li>',
			methods: {
				//发布订阅模式。监听并执行删除操作
				handleClick: function() {
					this.$emit('delete',this.index);
				}
			}
		})

		// //定义局部组件
		// var TodoItem = {
		// 	template: '<li>item</li>'
		// }

		// //注册局部组件
		// new Vue({
		// 	components: {
		// 		'todo-item': TodoItem
		// 	},
		// })

		//父组件
		new Vue({
			el: "#root",
			data: {
				inputValue: '',
				list: []
			},
			methods: {
				handleSubmit: function() {
					//向列表增加数据
					this.list.push(this.inputValue);
					//清空输入框
					this.inputValue = '';
				},
				//子组件向父组件传值
				handleDelete: function(index) {
					//向列表删除数据
					this.list.splice(index,1);
				}
			}
		})
	</script>
</body>
</html>